.pokemon-details-redirect{
    text-align: center;   
}
.redirect{
    text-decoration: none;
}

.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pokemon-details-name{
    font-size: xx-large;
    letter-spacing: 2rem;
}

.pokemon-details-attr{
    display: flex;
    font-size: xx-large;
    gap: 2rem;
}

.pokemon-details-types{
    font-size: x-large;
    border:  1px solid black;
    padding: 1rem 2rem;
    background-color: azure;
    margin-left: 1rem;;
}

.pokemon-details-type{
    margin-bottom: 1rem;
}

.pokemon-details-type > h1{
    display: inline;
    
}

.similar-pokemons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.pokemon-similar-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}